@import url('https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background-color:
    font-family"Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    }
    .header {
    height: 400px;
    background-image: url("./images/Coffee.jpg");
    background-position: center;
    background-size: cover;
    /* background-repeat: no-repeat; */
    }
    h1 {
        font-family: "Covered By Your Grace", serif;
        font-weight: 400;
        font-style: normal;
        text-align: center;
        font-size: 100px;
        padding-top: 120px;
        color: rgba(3, 150, 100, 0.75);
    }
    h2{
        color: rgba(252, 244, 244, 0.75);
    }
    .main {
      position: relative;
    }
    
    .left, .center, .right{
      position: absolute;
      width: 30%;
      top: 15px;
}
.left{
    left: 15px;
}
.center{
    left: 35%;
}

.right{
    right: 15px;
}

.left div:nth-child(1) {
    height: 180px;
    background-image: url('./images/brazil.jpg'); /* Флаг Бразилии */
    background-position: center;
    background-size: contain;

}

.left div:nth-child(2) {
    height: 180px;
    background-image: url('./images/colombia.jpg'); /* Флаг Колумбии */
    background-position: center;
    background-size: contain;
}

.center div:nth-child(1) {
    height: 180px;
    background-image: url('./images/India.jpg'); /* Флаг Индии */
    background-position: center;
    background-size: contain;
}

.center div:nth-child(2) {
    height: 180px;
    background-image: url('./images/ethiopia.jpg'); /* Флаг Эфиопии */
    background-position: center;
    background-size: contain;
}

.right div:nth-child(1) {
   height: 180px;
    background-image: url('./images/costa_rica.jpg'); /* Флаг Коста-Рики */
    background-position: center;
    background-size: contain;
}

.right div:nth-child(2) {
    height: 180px;
    background-image: url('./images/kenya.jpg'); /* Флаг Кении */
    background-position: right;
    background-size: contain;
}

